{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


        <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <title>{% block title %}Travel budget{% endblock %}</title>
</head>

<body id="page-top" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
          <a href="/dashboard" class="logo d-flex align-items-center">
            <span class="d-none d-lg-block">
              <i class="bi bi-airplane-fill"></i>
              Travel Budget
            </span>
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
    
        {% comment %} <div class="search-bar">
          <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div><!-- End Search Bar --> {% endcomment %}
    
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
    
            <li class="nav-item dropdown pe-3">
    
              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person"></i>
                <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user }}</span>
              </a><!-- End Profile Iamge Icon -->
    
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" style="">
                <li class="dropdown-header">
                  <h6>{{ request.user }}</h6>
                </li>
                {% comment %} <li>
                  <hr class="dropdown-divider">
                </li> {% endcomment %}
    
                {% comment %} <li>
                  <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                    <i class="bi bi-person"></i>
                    <span>My Profile</span>
                  </a>
                </li> {% endcomment %}
                <li>
                  <hr class="dropdown-divider">
                </li>
                <form action="{%url 'logout'%}" method="post">
                {% csrf_token %}
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="/logout" type="submit">
                      <i class="bi bi-box-arrow-right"></i>
                      <span>Sign Out</span>
                    </a>
                  </li>
                </form>
              
              </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
    
          </ul>
        </nav><!-- End Icons Navigation -->
    
      </header>

    <!-- End Header -->
    
    <!-- ======= Sidebar ======= -->
    
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
        {% for section in sidebar %}
            {% for action in section.actions %}
                <li class="nav-item">
                    <a class="nav-link {% if action.path != request.path %}collapsed{% endif %}" href="{{action.link}}">
                        <i class="bi {{action.icon}}"></i>
                        <span>{{action.name}}</span></a>
                </li>
            {% endfor %}    
        {% endfor %}
        </ul>

    </aside>
    
    <!-- End Sidebar-->
    

    <main id="main" class="main">
        <section class="section">
            {% block body %}{% endblock %}
        </section>
    </main><!-- End #main -->

</body>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/htmx.min.js' %}"></script>

{% block script %}

{% endblock script %}

</html>