{% extends "base.html" %}

{% block body %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<div class="row">
    <div class="col-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Trips summary</h6>
            </div>
            
            <div class="card-body">
                <ul class="list-group">
                    {% for trip in trips %}
                    <li class="list-group-item {% if trip.is_active %}active{% endif %}" aria-current="true">
                        <div class="row">
                            <div class="col">
                                <b>{{ trip.name }}</b><br>
                                starting : {{ trip.start_date }}<br>
                                ending : {{ trip.end_date }}<br>
                                Total expenses : {{ trip.total_expenses }}<br>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Consult</span>
                                </a>
                                <div class="my-2"></div>
                                <a href="#" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Remove</span>
                                </a>
                            </div>
                            
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="row mt-2">
                    <div class="col-xl-6 col-md-6">
                        <a class="btn btn-block" href="/create_trip">
                            <div class="card border-left-primary shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        
                                        <div class="col mr-2">
                                            <div class="text font-weight-bold text-primary text-uppercase mb-1">
                                                Create your trip</div>
                                            </div>
                                        <div class="col-auto">
                                            <i class="fas fa-plus fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <a class="btn btn-block" href="#">
                            <div class="card border-left-primary shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text font-weight-bold text-primary text-uppercase mb-1">
                                                Join an existing trip</div>
                                            </div>
                                        <div class="col-auto">
                                            <i class="fas fa-search fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Trips</h6>
            </div>
            
            <div class="card-body">
                <ul class="list-group">
                {% for trip in trips %}
                    <li class="list-group-item {% if trip.is_active %}active{% endif %}" aria-current="true">{{ trip.name }} Starting :{{ trip.start_date }} Ending : {{ trip.end_date }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}