{% extends "base.html" %}
{% load custom_tags %}

{% block body %}
<!-- Page Heading -->
<div class="pagetitle">
    <h1>Dashboard</h1>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Trips summary</h5>
                <ul class="list-group">
                    {% for trip in trips %}
                    <li class="list-group-item" aria-current="true">
                        <div class="row">
                            <div class="col">
                                <b>{{ trip.name }}</b><br>
                                starting : {{ trip.start_date }}<br>
                                ending : {{ trip.end_date }}<br>
                                Total expenses : {% if trip.total_expenses %}{{ trip.total_expenses|floatformat:2 }}€{%else %}---{% endif %}<br>
                            </div>
                            {% with disable_button="background-color: var(--bs-secondary-bg);opacity: 1;pointer-events:none;" %}
                            <div class="col-auto p-0">
                                <div class="d-flex justify-content-end">
                                    {% get_permission trip user 'can_share_trip'  as can_share_trip %}
                                    <a href="{% url 'share-trip' slug=trip.slug %}" class="btn btn-primary" {% if not can_share_trip %} style="{{disable_button}}" {% endif %}>
                                        <span class="icon fs-5">
                                            <i class="bi bi-share"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="d-flex justify-content-end">
                                    <a href="{% url 'consult-trip' slug=trip.slug %}" class="btn btn-success">
                                        <span class="icon fs-5">
                                            <i class="bi bi-eye"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="my-2"></div>
                                <div class="d-flex justify-content-end">
                                    {% get_permission trip user 'can_delete_trip'  as can_delete_trip %}
                                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_{{trip.slug}}_modal" {% if not can_delete_trip %} style="{{disable_button}}" {% endif %}>
                                        <span class="icon fs-5">
                                            <i class="bi bi-trash"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="modal fade" id="delete_{{trip.slug}}_modal" tabindex="-1"
                                    style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Delete a trip</h5>
                                            </div>
                                            <div class="modal-body">
                                                Removing the trip : <b>{{ trip.name }}</b> implies the suppression of
                                                every expenses associated<br>
                                                Do you confirm ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">No</button>
                                                <form action="{% url 'delete-trip' slug=trip.slug %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" name="submit" value="{{ trip.slug }}"
                                                        class="btn btn-danger">Yes</button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endwith %}

                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="row mt-2">
                    <div class="col-6">
                        <div class="d-grid gap-2 m-3">
                            <a class="btn btn-outline-primary" href="/create_trip">
                                <i class="bi bi-plus-lg me-1"></i>
                                <text class="text font-weight-bold text-uppercase mb-1">
                                    Create your trip
                                </text>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid gap-2 m-3">
                            <a class="btn btn-outline-primary" href="/join_trip">
                                <i class="bi bi-search me-1"></i>
                                <text class="text font-weight-bold text-uppercase mb-1">
                                    Join an existing trip
                                </text>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Expenses per category over all your trips</h5>
                {% if data|any_data %}
                <canvas id="expensesByCategory"
                    style="max-height: 400px; display: block; box-sizing: border-box; height: 400px; width: 1040px;"
                    width="1040" height="400"></canvas>
                {% else %}
                <span class="text-center">
                    <h5>No expense associated</h5>
                    <p>(Consult a trip to add one)</p>
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        new Chart(document.querySelector('#expensesByCategory'), {
            type: 'doughnut',
            data: {
                labels: {{ labels| safe }},
        datasets: [{
            label: 'total',
            data: {{ data| safe }},
        backgroundColor: {{ background_color| safe }},
        hoverOffset: 4
          }]
        }
      });
    });
</script>
{% endblock%}