asgiref==3.8.1
asttokens==3.0.0
beautifulsoup4==4.12.3
black==24.2.0
click==8.1.7
coverage==6.4.4
crispy-bootstrap5==2024.2
decorator==5.1.1
dj-database-url==2.1.0
Django==5.1.4
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-extensions==3.2.1
django-filter==22.1
django-stubs==4.2.7
django-stubs-ext==4.2.7
djangorestframework==3.15.1
djangorestframework_simplejwt==5.5.0
executing==2.1.0
flake8==5.0.4
gunicorn==21.2.0
ipdb==0.13.9
ipython==8.18.1
isort==5.10.1
jedi==0.19.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy==1.7.0
mypy-extensions==1.0.0
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.9.1
pyflakes==2.5.0
Pygments==2.18.0
PyHamcrest==2.0.4
PyJWT==2.9.0
python-dotenv==1.0.1
setuptools==75.6.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.2
stack-data==0.6.3
toml==0.10.2
traitlets==5.14.3
types-pytz==2024.2.0.20241003
types-PyYAML==6.0.12.20240917
typing_extensions==4.12.2
wcwidth==0.2.13
whitenoise==6.6.0
